body {
  margin: 0;
  font-family: "Roboto", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(0, 151, 170);
  background: linear-gradient(
    166deg,
    rgba(0, 151, 170, 1) 30%,
    rgba(0, 255, 241, 1) 50%
  );
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
